Sandpiper_plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" vc:minVersion="1.0"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Copyright (C) 2021 The Sandpiper Authors. All rights reserved.

   	This document, part of the Sandpiper Framework software specification and package, is made available to you
   	under the terms of the Artistic License 2.0, which can be found at https://www.perlfoundation.org/artistic-license-20.html . For more information,
   	please feel free to visit us at https://www.sandpiperframework.org .

    -->
    <!-- Basic types -->
    <xs:simpleType name="uuid">
        <xs:restriction base="xs:string">
            <xs:length fixed="true" value="36"/>
            <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_Medium">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_Short">
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Email">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:pattern value="[^\s]+@[^\s]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FieldName">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="63"/>
            <xs:pattern value="[A-Za-z][A-Za-z0-9_\-]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FieldValue">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Levels">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1-1"/>
            <xs:enumeration value="1-2"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Attribute templates used in multiple places -->
    <xs:attributeGroup name="Model">
        <xs:attribute name="uuid" type="uuid" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="Description_Main">
        <xs:attribute name="description" type="String_Medium" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="Description_Optional">
        <xs:attribute name="description" type="String_Medium" use="optional"/>
    </xs:attributeGroup>
    <!-- Element templates used in multiple places -->
    <xs:complexType name="LinkGroup">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UniqueLink">
                <xs:complexType>
                    <xs:attributeGroup ref="Model"/>
                    <xs:attribute name="keyfield" type="FieldName" use="required"/>
                    <xs:attribute name="keyvalue" type="FieldValue" use="required"/>
                    <xs:attributeGroup ref="Description_Optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MultiLink">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="MultLinkEntry">
                            <xs:complexType>
                                <xs:attributeGroup ref="Model"/>
                                <xs:attribute name="keyvalue" type="FieldValue" use="required"/>
                                <xs:attributeGroup ref="Description_Optional"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="keyfield" type="FieldName" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Instance">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Software">
                <xs:complexType>
                    <xs:attributeGroup ref="Description_Main"/>
                    <xs:attribute name="version" type="String_Short" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="Capability">
                <xs:complexType>
                    <xs:sequence>
                        <!-- If a server is available, it is listed here -->
                        <xs:element minOccurs="0" name="Response" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="uri" type="xs:string" use="required"/>
                                <xs:attribute name="role">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Synchronization"/>
                                            <xs:enumeration value="Authentication"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="description" type="String_Medium" use="optional"
                                />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="level" type="Levels"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="Model"/>
    </xs:complexType>
    <xs:complexType name="Controller">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Controller">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Admin">
                            <xs:complexType>
                                <xs:attribute name="contact" type="String_Medium"/>
                                <xs:attribute name="email" type="Email"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="Model"/>
                    <xs:attributeGroup ref="Description_Main"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- Main schema -->
    <xs:element name="Plan">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="Primary">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="Instance" type="Instance"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="Controller"
                                type="Controller"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="Links" type="LinkGroup">
                                <xs:unique name="PrimaryNodeLinkUniqueKeyField">
                                    <xs:selector xpath="MultiLink | UniqueLink"/>
                                    <xs:field xpath="@keyfield"/>
                                </xs:unique>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="Pools">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="1" name="Pool">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="1" minOccurs="0"
                                                  name="Links" type="LinkGroup">
                                                  <xs:unique name="PrimaryPoolLinkUniqueKeyField">
                                                  <xs:selector xpath="MultiLink | UniqueLink"/>
                                                  <xs:field xpath="@keyfield"/>
                                                  </xs:unique>
                                                  </xs:element>
                                                  <xs:element maxOccurs="1" minOccurs="0"
                                                  name="Slices">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" minOccurs="1"
                                                  name="Slice">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="1" minOccurs="0"
                                                  name="Links" type="LinkGroup">
                                                  <xs:unique name="SliceLinkUniqueKeyField">
                                                  <xs:selector xpath="MultiLink | UniqueLink"/>
                                                  <xs:field xpath="@keyfield"/>
                                                  </xs:unique>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  <xs:attributeGroup ref="Model"/>
                                                  <xs:attributeGroup ref="Description_Main"/>
                                                  <xs:attribute name="slicetype"
                                                  type="String_Medium" use="required"/>
                                                  <xs:attribute name="filename" type="String_Medium"
                                                  use="optional"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attributeGroup ref="Model"/>
                                                <xs:attributeGroup ref="Description_Main"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="Model"/>
                        <xs:attributeGroup ref="Description_Main"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="Communal">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="Subscriptions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="1"
                                            name="Subscription">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <!-- Not part of Sandpiper 1.0 - future use -->
                                                  <xs:element maxOccurs="1" minOccurs="0"
                                                  name="DeliveryProfiles">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" minOccurs="1"
                                                  name="DeliveryProfile">
                                                  <xs:complexType>
                                                  <xs:attributeGroup ref="Model"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attributeGroup ref="Model"/>
                                                <xs:attribute name="sliceuuid" type="uuid"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="Secondary">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="Instance" type="Instance"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="Controller"
                                type="Controller"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="Links" type="LinkGroup">
                                <xs:unique name="SecondaryNodeLinkUniqueKeyField">
                                    <xs:selector xpath="MultiLink | UniqueLink"/>
                                    <xs:field xpath="@keyfield"/>
                                </xs:unique>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="Model"/>
                        <xs:attributeGroup ref="Description_Main"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="uuid" type="uuid"/>
            <xs:attributeGroup ref="Description_Main"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
