Sandpiper_plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.0"
    elementFormDefault="qualified">

    <!-- Copyright (C) 2021 The Sandpiper Authors. All rights reserved.

   	This document, part of the Sandpiper Framework software specification and package, is made available to you
   	under the terms of the Artistic License 2.0, which can be found at https://www.perlfoundation.org/artistic-license-20.html . For more information,
   	please feel free to visit us at https://www.sandpiperframework.org .

    -->

    <!-- Basic types -->
    <xs:simpleType name="uuid">
        <xs:restriction base="xs:string">
            <xs:length value="36" fixed="true"/>
            <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_Medium">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_Short">
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Email">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:pattern value="[^\s]+@[^\s]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FieldName">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="63"/>
            <xs:pattern value="[A-Za-z][A-Za-z0-9_\-]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FieldValue">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Levels">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1-1"/>
            <xs:enumeration value="1-2"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Attribute templates used in multiple places -->
    <xs:attributeGroup name="Model">
        <xs:attribute name="uuid" type="uuid" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="Description_Main">
        <xs:attribute name="description" type="String_Medium" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="Description_Optional">
        <xs:attribute name="description" type="String_Medium" use="optional"/>
    </xs:attributeGroup>

    <!-- Element templates used in multiple places -->
    <xs:complexType name="LinkGroup">
        <xs:sequence>
            <xs:element name="UniqueLink" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attributeGroup ref="Model"/>
                    <xs:attribute name="keyfield" type="FieldName" use="required"/>
                    <xs:attribute name="keyvalue" type="FieldValue" use="required"/>
                    <xs:attributeGroup ref="Description_Optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="MultiLink" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MultLinkEntry" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attributeGroup ref="Model"/>
                                <xs:attribute name="keyvalue" type="FieldValue" use="required"/>
                                <xs:attributeGroup ref="Description_Optional"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="keyfield" type="FieldName" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Instance">
        <xs:sequence>
            <xs:element name="Software" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="Description_Main"/>
                    <xs:attribute name="version" type="String_Short" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Capability" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <!-- If a server is available, it is listed here -->
                        <xs:element name="Response" minOccurs="0">
                            <xs:complexType>
                                <xs:attribute name="uri" type="xs:string" use="required"/>
                                <xs:attribute name="role">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Synchronization"/>
                                            <xs:enumeration value="Authentication"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="description" type="String_Medium" use="optional"
                                />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="level" type="Levels"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="Model"/>
    </xs:complexType>

    <xs:complexType name="Controller">
        <xs:sequence>
            <xs:element name="Controller" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Admin">
                            <xs:complexType>
                                <xs:attribute name="contact" type="String_Medium"/>
                                <xs:attribute name="email" type="Email"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="Model"/>
                    <xs:attributeGroup ref="Description_Main"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Main schema -->
    <xs:element name="Plan">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Primary" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Instance" type="Instance" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Controller" type="Controller" minOccurs="1"
                                maxOccurs="1"/>
                            <xs:element name="Links" type="LinkGroup" minOccurs="0" maxOccurs="1">
                                <xs:unique name="PrimaryNodeLinkUniqueKeyField">
                                    <xs:selector xpath="MultiLink | UniqueLink"/>
                                    <xs:field xpath="@keyfield"/>
                                </xs:unique>
                            </xs:element>
                            <xs:element name="Pools" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Pool" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Links" type="LinkGroup"
                                                  minOccurs="0" maxOccurs="1">
                                                  <xs:unique name="PrimaryPoolLinkUniqueKeyField">
                                                  <xs:selector xpath="MultiLink | UniqueLink"/>
                                                  <xs:field xpath="@keyfield"/>
                                                  </xs:unique>
                                                  </xs:element>
                                                  <xs:element name="Slices" minOccurs="0"
                                                  maxOccurs="1">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="Slice" minOccurs="1"
                                                  maxOccurs="unbounded">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="Links" type="LinkGroup"
                                                  minOccurs="0" maxOccurs="1">
                                                  <xs:unique name="SliceLinkUniqueKeyField">
                                                  <xs:selector xpath="MultiLink | UniqueLink"/>
                                                  <xs:field xpath="@keyfield"/>
                                                  </xs:unique>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  <xs:attributeGroup ref="Model"/>
                                                  <xs:attributeGroup ref="Description_Main"/>
                                                  <xs:attribute name="slicetype"
                                                  type="String_Medium" use="required"/>
                                                  <xs:attribute name="filename" type="String_Medium"
                                                  use="optional"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attributeGroup ref="Model"/>
                                                <xs:attributeGroup ref="Description_Main"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="Model"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Communal" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Subscriptions" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Subscription" minOccurs="1"
                                            maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <!-- Not part of Sandpiper 1.0 - future use -->
                                                  <xs:element name="DeliveryProfiles" minOccurs="0"
                                                  maxOccurs="1">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="DeliveryProfile" minOccurs="1"
                                                  maxOccurs="unbounded">
                                                  <xs:complexType>
                                                  <xs:attributeGroup ref="Model"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attributeGroup ref="Model"/>
                                                <xs:attribute name="sliceuuid" type="uuid"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Secondary" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Instance" type="Instance" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Controller" type="Controller" minOccurs="1"
                                maxOccurs="1"/>
                            <xs:element name="Links" type="LinkGroup" minOccurs="0" maxOccurs="1">
                                <xs:unique name="SecondaryNodeLinkUniqueKeyField">
                                    <xs:selector xpath="MultiLink | UniqueLink"/>
                                    <xs:field xpath="@keyfield"/>
                                </xs:unique>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="Model"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="uuid" type="uuid"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
